.boxNavBar{
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.352);
}

.boxNavBar ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

.boxNavBar ul li{
    border-radius: 50%;
    padding: .3em;

}


.boxNavBar ul li a{
    text-decoration: none;
    color: black;
}

.boxNavBar  ul li:active{
    background-color: var(--color1);
}

.boxNavBar svg{
    width: 30px;
    height: 30px;
    color: white;
}

/* .boxNavBar svg:active{
    color: blue;
} */

@media (min-width:1000px){
    .boxNavBar{
        bottom: initial;
    }
}