.boxNavBar{
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--color1);
    z-index: 9999;
}

.boxNavBar > h1{
    display: none;
}

.boxNavBar ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

.boxNavBar ul li{
    border-radius: 50%;
    padding: .3em;

}


.boxNavBar ul li a{
    text-decoration: none;
}


.boxNavBar svg{
    width: 30px;
    height: 30px;
    color: var(--color4);
    border-radius: 10px;
    box-sizing: content-box;
    padding: .5em;
    transition: .3s;
}

.boxNavBar .activeNav svg{
    color: white !important;
}


@media (min-width:1000px){
    .boxNavBar{
        bottom: initial;
    }
    .boxNavBar > h1{
        display: block;
        font-size: 2em;
        color: var(--color5);
    }
}

@media (min-width: 600px){
    .boxNavBar svg:hover{
        background-color: var(--color1);
    }
}
