.button{
    padding: .2em 2em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 600px){
    button:hover{
        opacity: 0.7;
        transition: .3s;
        color: black;
    }
}


