.boxControllers{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--color3);
    padding-block: .2em;
    color: white;
}


.boxControllers button{
    padding: .5em  2em;
    height: 100%;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: var(--color6);
    display: flex;
    align-items: center;
    gap: 15px;
    transition: .3s;
    border-radius: 40px;
}


.boxControllers .likeChecked{
    color: red;
}

.boxControllers #comment, .boxControllers .like{
    cursor: pointer;
}

.boxControllers #comment:active{
    color: rgb(68, 68, 237);
}

.boxControllers .like:not(.likeChecked):active svg{
    transform: rotate(-20deg);
}

.boxControllers button svg{
    width: 20px;
    height: 20px;
}

@media (min-width: 600px){
    .boxControllers .like:hover{
        opacity: .5;
    }
    .boxControllers #comment:hover{
        opacity: .5;
    }
}