*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:'Roboto', sans-serif; */
  font-family:  'Dosis', sans-serif;
}

:root{
  --color1: #0e1c26;
  --color2: #1a2c36;
  --color3: #2a454b;
  --color4: #686C71;
  --color5: goldenrod;
}

body,html, #root{
  width: 100%;
  height: 100%;
  background-color: var(--color1);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 12px !important;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color3) ;
  border-radius: 6px;
}

